@charset "UTF-8";

@import "reset";

@font-face {
    font-family: 'HBIOS-SYS';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/HBIOS-SYS.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@mixin intro_font {
    font-size: 24px;
    white-space: pre;
    position: relative;
    top: 0;
    left: 0;
    color: #000;
    font-family: 'HBIOS-SYS';
    margin: 0 1% 1% 1%;
}

@mixin intro_font_before {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 100%;
    color: #FFFFBD;
    overflow: hidden;
    font-family: 'HBIOS-SYS';
    opacity: 0;
}

@mixin project_h3{
    font-family: 'HBIOS-SYS';
    color: #fff;
    text-shadow: 5px 3px 1px gray;
    font-size: 60px;
    padding-top: 30px;
    letter-spacing: 5px;
}

@mixin project_p{
    font-family: 'HBIOS-SYS';
    color: #fff;
    font-size: 20px;
    padding-top: 30px;
    line-height: 30px;
}

@mixin project_btn{
    font-family: 'HBIOS-SYS';
    font-size: 24px;
    margin-top: 30px;
    margin-right: 30px;
    width: 100px;
    height: 50px;
    border: none;
    cursor: pointer;
    box-shadow: 5px 3px 1px gray;
}

#intro {
    width: 100%;
    height: 1100px;
    background-image: url(../img/pixel_stars.png);
    background-position: center;

    .title,
    .intro1,
    .intro2,
    .intro3 {
        @include intro_font;
    }

    .title::before {
        @include intro_font_before;
        content: "<title>김진성_포트폴리오</title>";
        animation: intro_typing 3s steps(60);
        animation-fill-mode: forwards;
    }

    .intro1::before {
        @include intro_font_before;
        content: "<h2>안녕하세요! 신입 프론트엔드 개발자 김진성입니다.</h2>";
        animation: intro_typing 3s steps(60);
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }

    .intro2::before {
        @include intro_font_before;
        content: '<p>저의 정보와 작업물들은 아래로 스크롤하셔서 확인 하실 수 있습니다.<br>';
        animation: intro_typing 3s steps(60);
        animation-delay: 2s;
        animation-fill-mode: forwards;
    }

    .intro3::before {
        @include intro_font_before;
        content: '방문해주셔서 감사합니다!</p>';
        animation: intro_typing 3s steps(60);
        animation-delay: 3s;
        animation-fill-mode: forwards;
    }

    h2 {
        font-size: 60px;
        white-space: nowrap;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #000;
        font-family: 'HBIOS-SYS';
    }

    h2::before {
        content: "KIM JIN SEONG";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #fff;
        overflow: hidden;
        animation: typing_event1 6s steps(24);
        font-family: 'HBIOS-SYS';
        text-shadow: 6px 4px 2px gray;
    }

    h3 {
        font-size: 90px;
        white-space: nowrap;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -60%);
        color: #000;
        font-family: 'HBIOS-SYS';
    }

    h3::before {
        content: "FRONTEND DEVELOPER";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #fff;
        overflow: hidden;
        animation: typing_event2 7.5s steps(18);
        font-family: 'HBIOS-SYS';
        text-shadow: 6px 4px 2px gray;
    }

    @keyframes intro_typing {
        0% {
            width: 0%;
            opacity: 1;
        }

        50% {
            width: 50%;

        }

        100% {
            width: 100%;
            opacity: 1;
        }
    }

    @keyframes typing_event1 {
        0% {
            width: 0%;
        }

        70% {
            width: 0%;
        }

        100% {
            width: 100%;
            border-right: 1px solid #fff;
        }
    }

    @keyframes typing_event2 {
        0% {
            width: 0%;
        }

        85% {
            width: 0%;
        }

        100% {
            width: 100%;
            border-right: 1px solid #fff;
        }
    }

    nav {
        .menu {
            width: 100px;
            height: 100px;
            background-color: #FFFFBD;
            border-radius: 50%;
            position: fixed;
            top: 3%;
            right: 8%;
            cursor: pointer;
            box-shadow: 2px 2px 50px gray;
        }

        .sub_menu {
            width: 75px;
            height: 75px;
            background-color: #FFFFBD;
            border-radius: 50%;
            display: none;
            cursor: pointer;
            box-shadow: 2px 2px 50px gray;
            text-align: center;
        }

        .sub_menu1 {
            position: fixed;
            top: 20%;
            right: 8.65%;
        }

        .sub_menu2 {
            position: fixed;
            top: 30%;
            right: 8.65%;
        }

        .sub_menu3 {
            position: fixed;
            top: 40%;
            right: 8.65%;
        }
    }
}

#project {
    width: 100%;
    height: 2000px;
    background: linear-gradient(#6B9ED6 1%, #182431);

    .project_content{
        width: 1200px;
        margin: 0 auto;

        h2{
            text-align: center;
            font-family: 'HBIOS-SYS';
            color: #FFFFBD;
            text-shadow: 5px 3px 1px gray;
            font-size: 72px;
            padding-top: 100px;
            padding-bottom: 150px;
        }

        .shure{
            position: relative;
            height: 600px;
            h3{
                @include project_h3;
            }
    
            p{
                @include project_p;
            }
    
            button{
                @include project_btn;
            }
    
            img{
                width: 50%;
                position: absolute;
                top: 5%;
                right: 0;
            }
        }

        .talesweaver{
            position: relative;
            height: 600px;
            h3{
                text-align: right;
                @include project_h3;
            }

            p{
                text-align: right;
                @include project_p;
            }

            button{
                float: right;
                @include project_btn;
            }

            img{
                width: 50%;
                position: absolute;
                top: 5%;
                left: 0;
            }
        }
    }
}
