@charset "UTF-8";

@import "reset";

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;500&family=Lato:wght@100;300;700&family=Playfair+Display&display=swap');

@mixin Eng_title {
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    letter-spacing: 1.5px;
}

@mixin Eng_sub_title {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1.5px;
}

@mixin Kor_font {
    font-family: 'Gothic A1', sans-serif;
    letter-spacing: 1.5px;
}

body {
    overflow-x: hidden;

    #intro {
        height: 150vh;
        position: relative;

        h2 {
            @include Eng_title;
            font-size: 84px;
            color: #000;
            text-align: center;
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translate(-50%, -25%);
            z-index: 3;
        }

        .left_box {
            position: absolute;
            left: 0;
            height: 150vh;
            background-color: #000;
            z-index: 1;
        }

        .right_box {
            position: absolute;
            right: 0;
            height: 150vh;
            background-color: #000;
            z-index: 1;
        }

        .bottom_box {
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: #fff;
            z-index: 2;
        }

        .bottom_box2 {
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: #f0f0f0;
            z-index: 4;

            header {
                width: 90%;
                height: 100px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: absolute;
                left: 5%;

                .logo {
                    img {
                        width: 40%;
                        cursor: pointer;
                    }
                }

                nav {
                    ul {
                        display: flex;

                        li {
                            margin-left: 30px;

                            a {
                                @include Eng_sub_title;
                                color: #444;
                                font-weight: 600;
                                font-size: 16px;
                            }

                            a::after {
                                content: '';
                                display: block;
                                border-bottom: 2px solid #aaa;
                                padding-bottom: 3px;
                                transform: scaleX(0);
                                transition: .3s ease-out;
                            }

                            a:hover::after {
                                transform: scaleX(1);
                            }
                        }
                    }
                }
            }

            .introduce {

                // .introduce_top {
                //     width: 1300px;
                //     margin: 0 auto;
                //     display: flex;
                //     justify-content: space-between;
                //     padding-top: 250px;

                //     p {
                //         width: 27.5%;
                //         color: #000;
                //         word-break: keep-all;
                //     }
                // }

                .introduce_center {
                    h3 {
                        @include Eng_title;
                        position: absolute;
                        color: #444;
                        font-size: 120px;
                        left: -15%;
                        top: 20%;
                        width: 150%;
                        text-align: left;
                    }

                    .intro_underline1,
                    .intro_underline2 {
                        width: 0px;
                        height: 2px;
                        position: absolute;
                        top: 31%;
                        left: 16%;
                        background-color: #aaa;
                        transition: all 1s ease-in-out;
                    }

                    h4 {
                        @include Eng_title;
                        position: absolute;
                        color: #444;
                        font-size: 120px;
                        right: -15%;
                        top: 35%;
                        width: 100%;
                        text-align: right;
                    }

                    .intro_underline2 {
                        top: 46%;
                    }
                }

                .introduce_btm {

                    h5 {
                        @include Eng_sub_title;
                        font-weight: 600;
                        font-size: 48px;
                        position: absolute;
                        color: #000;
                        left: 16%;
                        bottom: 32.5%;
                    }

                    p {
                        @include Kor_font;
                        font-weight: 300;
                        font-size: 20px;
                        position: absolute;
                        color: #000;
                        left: 16%;
                        bottom: 17.5%;
                        width: 25%;
                        word-break: keep-all;

                        >span {
                            font-size: 24px;
                            background-color: #aaa;
                            color: #fff;
                            padding: 2px;
                        }
                    }

                    .img_animation_box {
                        width: 750px;
                        height: 450px;
                        position: absolute;
                        right: 15.65%;
                        bottom: 11%;
                        overflow: hidden;
                    }

                    .img_animation1,
                    .img_animation2 {
                        width: 0%;
                        height: 100%;
                        position: absolute;
                        bottom: 0%;
                    }

                    .img_animation1 {
                        background-color: #929AAB;
                        left: 0%;
                    }

                    .img_animation2 {
                        background-color: #393E46;
                        right: 0%;
                    }

                    .my_img1 {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        right: 0%;
                        bottom: 0%;
                    }
                }
            }
        }
    }

    #aboutme {

        .inner {
            width: 1300px;
            height: 2000px;
            margin: 0 auto;
            position: relative;

            h2 {
                @include Eng_sub_title;
                font-weight: 200;
                font-size: 150px;
                color: #444;
                letter-spacing: 5px;
                width: 100%;
                position: inherit;
                left: -950px;
                word-break: keep-all;
            }

            .aboutme_underline {
                width: 0px;
                height: 2px;
                background-color: #aaa;
                transition: all 1s ease-in-out;
                margin-bottom: 75px;
            }

            h3 {
                @include Eng_sub_title;
                font-weight: 600;
                color: #C21010;
                text-transform: uppercase;
                font-size: 16px;
                letter-spacing: 0px;
            }

            .flip_text_change {
                width: 100%;
                height: 40px;
                perspective: 600px;

                .flip {
                    height: 50px;
                    position: relative;
                    transition: transform .5s;
                    transform-style: preserve-3d;
                    margin-top: 40px;
                    margin-bottom: 40px;
                }

                .flip_face {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    backface-visibility: hidden;
                    color: #000;
                    line-height: 40px;

                    &_eng {
                        @include Eng_sub_title;
                        font-weight: 700;
                        text-transform: uppercase;
                        letter-spacing: -1px;
                        font-size: 40px;
                    }

                    &_kor {
                        @include Kor_font;
                        font-weight: 500;
                        transform: rotateX(180deg);
                        letter-spacing: -2px;
                        font-size: 36px;
                    }
                }
            }

            .skills {
                width: 1300px;

                h3 {
                    @include Eng_sub_title;
                    font-weight: 600;
                    color: #C21010;
                    text-transform: uppercase;
                    position: absolute;
                    top: 53.5%;
                    font-size: 16px;
                    letter-spacing: 0px;
                }

                .my_img2 {
                    position: absolute;
                    top: 92.5%;
                    left: 50%;
                    transform: translate(-50%, -90%);
                    filter: grayscale(1);
                }

                .html img,
                .css img,
                .js img,
                .photoshop img {
                    width: 10%;
                    position: absolute;
                }

                .html img {
                    top: 56.5%;
                }

                .css img {
                    top: 56.5%;
                    left: 10%;
                    filter: grayscale(1);
                }

                .js img {
                    top: 63%;
                    filter: grayscale(1);
                }

                .photoshop img {
                    top: 63%;
                    left: 10%;
                    filter: grayscale(1);
                }

                p {
                    @include Kor_font;
                    font-weight: 100;
                    width: 100%;
                    text-align: center;
                    position: absolute;
                    top: 75%;
                    left: 50%;
                    transform: translate(-50%, -75%);
                    font-size: 48px;
                }
            }
        }
    }

    #project {
        background-color: #000;
        padding-bottom: 450px;

        .inner {
            width: 1300px;
            height: 5000px;
            margin: 0 auto;
            position: relative;

            h2 {
                @include Eng_sub_title;
                font-weight: 200;
                font-size: 150px;
                color: #fff;
                letter-spacing: 5px;
                width: 100%;
                position: inherit;
                left: -900px;
                word-break: keep-all;
            }

            .projects_underline {
                width: 0px;
                height: 2px;
                background-color: #f0f0f0;
                transition: all 1s ease-in-out;
                margin-bottom: 300px;
            }

            .shure,
            .millie,
            .applemusic {
                float: left;
                margin-bottom: 200px;
                position: relative;
                opacity: 0;
                transform: translateX(-750px);
                transition: all 1s ease-in-out;

                .num {
                    @include Eng_sub_title;
                    font-size: 400px;
                    position: absolute;
                    color: #444;
                    margin-top: -200px;
                    left: -125px;
                }

                h3 {
                    @include Eng_sub_title;
                    font-size: 42px;
                    text-align: right;
                }

                h4 {
                    @include Eng_sub_title;
                    font-size: 18px;
                    margin-bottom: 20px;
                    color: #aaa;
                    text-align: right;
                }

                h5 {
                    @include Eng_sub_title;
                    font-size: 16px;
                    margin-bottom: 10px;
                    color: #f0f0f0;
                    text-align: right;
                }

                h6 {
                    width: 25px;
                    height: 25px;
                    display: inline-block;
                    border-radius: 50%;
                    margin-right: 5px;
                    margin-bottom: 10px;
                    border: 2px solid #f0f0f0;
                    position: inherit;
                    right: -682.5px;
                }

                img {
                    width: 750px;
                    height: 450px;
                    margin-bottom: 20px;
                    cursor: pointer;
                    display: block;
                    position: inherit;
                }

                .information {
                    width: 750px;

                    .explain {
                        @include Kor_font;
                        font-weight: 200;
                        text-align: center;
                        margin-bottom: 30px;
                        word-break: keep-all;
                    }

                    .link {
                        text-align: center;
                        margin-bottom: 30px;

                        a {
                            @include Eng_sub_title;
                            padding: 12px;
                            border: 1px solid #fff;
                        }
                    }

                    .skill {
                        @include Eng_sub_title;
                        text-align: center;

                        span {
                            margin-right: 12px;
                        }
                    }
                }
            }

            .talesweaver,
            .baskinrobbins {
                float: right;
                margin-bottom: 200px;
                position: relative;
                opacity: 0;
                transform: translateX(750px);
                transition: all 1s ease-in-out;

                .num {
                    @include Eng_sub_title;
                    font-size: 400px;
                    position: absolute;
                    color: #444;
                    margin-top: -200px;
                    right: -125px;
                }

                h3 {
                    @include Eng_sub_title;
                    font-size: 42px;
                }

                h4 {
                    @include Eng_sub_title;
                    font-size: 18px;
                    margin-bottom: 20px;
                    color: #aaa;
                }

                h5 {
                    @include Eng_sub_title;
                    font-size: 16px;
                    margin-bottom: 10px;
                    color: #f0f0f0;
                }

                h6 {
                    width: 25px;
                    height: 25px;
                    display: inline-block;
                    border-radius: 50%;
                    margin-right: 5px;
                    margin-bottom: 10px;
                    border: 2px solid #f0f0f0;
                    position: inherit;
                }

                img {
                    width: 750px;
                    height: 450px;
                    margin-bottom: 20px;
                    cursor: pointer;
                    display: block;
                    position: inherit;
                }

                .information {
                    width: 750px;

                    .explain {
                        @include Kor_font;
                        font-weight: 200;
                        text-align: center;
                        margin-bottom: 30px;
                        word-break: keep-all;
                    }

                    .link {
                        text-align: center;
                        margin-bottom: 30px;

                        a {
                            @include Eng_sub_title;
                            padding: 12px;
                            border: 1px solid #fff;
                        }
                    }

                    .skill {
                        @include Eng_sub_title;
                        text-align: center;

                        span {
                            margin-right: 12px;
                        }
                    }
                }
            }
        }
    }

    #contact {

        .inner {
            width: 1300px;
            height: 1200px;
            margin: 0 auto;
            position: relative;

            h2 {
                @include Eng_sub_title;
                font-weight: 200;
                font-size: 150px;
                color: #444;
                letter-spacing: 5px;
                width: 100%;
                position: inherit;
                left: -950px;
                word-break: keep-all;
            }

            .contact_underline {
                width: 0px;
                height: 2px;
                background-color: #aaa;
                transition: all 1s ease-in-out;
                margin-bottom: 300px;
            }
        }
    }
}
