@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;500&family=Lato:wght@100;300;700&family=Playfair+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  color: #fff;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}
body #intro {
  height: 150vh;
  position: relative;
}
body #intro h2 {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  letter-spacing: 1.5px;
  font-size: 84px;
  color: #000;
  text-align: center;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  z-index: 3;
}
body #intro .left_slide {
  position: absolute;
  left: 0;
  height: 150vh;
  background-color: #000;
  z-index: 1;
}
body #intro .right_slide {
  position: absolute;
  right: 0;
  height: 150vh;
  background-color: #000;
  z-index: 1;
}
body #intro .bottom_slide {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  z-index: 2;
}
body #intro .bottom_slide2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f0f0f0;
  z-index: 4;
}
body #intro .bottom_slide2 header {
  width: 90%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 5%;
}
body #intro .bottom_slide2 header .logo button {
  border: none;
}
body #intro .bottom_slide2 header .logo button img {
  width: 100%;
  cursor: pointer;
}
body #intro .bottom_slide2 header nav ul {
  display: flex;
}
body #intro .bottom_slide2 header nav ul li {
  margin-left: 30px;
}
body #intro .bottom_slide2 header nav ul li a {
  font-family: "Lato", sans-serif;
  letter-spacing: 1.5px;
  color: #444;
  font-weight: 600;
  font-size: 16px;
}
body #intro .bottom_slide2 header nav ul li a::after {
  content: "";
  display: block;
  border-bottom: 1px solid #aaa;
  padding-bottom: 3px;
  transform: scaleX(0);
  transition: 0.3s ease-out;
}
body #intro .bottom_slide2 header nav ul li a:hover::after {
  transform: scaleX(1);
}
body #intro .bottom_slide2 .introduce .introduce_top h3 {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  letter-spacing: 1.5px;
  position: absolute;
  color: #444;
  font-size: 120px;
  left: -15%;
  top: 20%;
  width: 150%;
  text-align: left;
}
body #intro .bottom_slide2 .introduce .introduce_top .intro_underline1,
body #intro .bottom_slide2 .introduce .introduce_top .intro_underline2 {
  width: 0px;
  height: 2px;
  position: absolute;
  top: 31%;
  left: 16%;
  background-color: #aaa;
  transition: all 1s ease-in-out;
}
body #intro .bottom_slide2 .introduce .introduce_top h4 {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  letter-spacing: 1.5px;
  position: absolute;
  color: #444;
  font-size: 120px;
  right: -15%;
  top: 35%;
  width: 100%;
  text-align: right;
}
body #intro .bottom_slide2 .introduce .introduce_top .intro_underline2 {
  top: 46%;
}
body #intro .bottom_slide2 .introduce .introduce_btm h5 {
  font-family: "Lato", sans-serif;
  letter-spacing: 1.5px;
  font-weight: 600;
  font-size: 48px;
  position: absolute;
  color: #444;
  left: 16%;
  bottom: 32.5%;
}
body #intro .bottom_slide2 .introduce .introduce_btm p {
  font-family: "Gothic A1", sans-serif;
  letter-spacing: 1.5px;
  font-weight: 300;
  font-size: 20px;
  position: absolute;
  color: #444;
  left: 16%;
  bottom: 15%;
  width: 25%;
  line-height: 36px;
  word-break: keep-all;
}
body #intro .bottom_slide2 .introduce .introduce_btm p > span {
  font-size: 24px;
  background-color: #aaa;
  color: #fff;
  padding: 2px;
}
body #intro .bottom_slide2 .introduce .introduce_btm .img_animation_box {
  width: 750px;
  height: 450px;
  position: absolute;
  right: 15.65%;
  bottom: 11%;
  overflow: hidden;
}
body #intro .bottom_slide2 .introduce .introduce_btm .img_animation1,
body #intro .bottom_slide2 .introduce .introduce_btm .img_animation2 {
  width: 0%;
  height: 100%;
  position: absolute;
  bottom: 0%;
}
body #intro .bottom_slide2 .introduce .introduce_btm .img_animation1 {
  background-color: #929AAB;
  left: 0%;
}
body #intro .bottom_slide2 .introduce .introduce_btm .img_animation2 {
  background-color: #393E46;
  right: 0%;
}
body #intro .bottom_slide2 .introduce .introduce_btm .my_img {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  bottom: 0%;
}
body #aboutme .inner {
  width: 1300px;
  height: 2000px;
  margin: 0 auto;
  position: relative;
}
body #aboutme .inner h2 {
  font-family: "Lato", sans-serif;
  letter-spacing: 1.5px;
  font-weight: 200;
  font-size: 150px;
  color: #444;
  letter-spacing: 5px;
  width: 100%;
  position: inherit;
  left: -950px;
  word-break: keep-all;
}
body #aboutme .inner .aboutme_underline {
  width: 0px;
  height: 2px;
  background-color: #aaa;
  transition: all 1s ease-in-out;
  margin-bottom: 75px;
}
body #aboutme .inner .flip_text_strength {
  width: 100%;
  height: 40px;
  perspective: 600px;
}
body #aboutme .inner .flip_text_strength h3 {
  font-family: "Lato", sans-serif;
  letter-spacing: 1.5px;
  font-weight: 600;
  color: #C21010;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0px;
}
body #aboutme .inner .flip_text_strength .flip {
  height: 50px;
  position: relative;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  margin-top: 40px;
  margin-bottom: 40px;
}
body #aboutme .inner .flip_text_strength .flip_face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  color: #444;
  line-height: 40px;
}
body #aboutme .inner .flip_text_strength .flip_face_eng {
  font-family: "Lato", sans-serif;
  letter-spacing: 1.5px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-size: 40px;
}
body #aboutme .inner .flip_text_strength .flip_face_kor {
  font-family: "Gothic A1", sans-serif;
  letter-spacing: 1.5px;
  font-weight: 500;
  transform: rotateX(180deg);
  letter-spacing: -2px;
  font-size: 36px;
}
body #aboutme .inner .flip_text_skill {
  width: 100%;
  height: 40px;
  perspective: 600px;
  margin-top: 1000px;
}
body #aboutme .inner .flip_text_skill h3 {
  font-family: "Lato", sans-serif;
  letter-spacing: 1.5px;
  font-weight: 600;
  color: #C21010;
  text-transform: uppercase;
  position: absolute;
  top: -180%;
  font-size: 16px;
  letter-spacing: 0px;
}
body #aboutme .inner .flip_text_skill .flip {
  height: 50px;
  position: relative;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  margin-top: 80px;
}
body #aboutme .inner .flip_text_skill .flip_face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  color: #444;
  line-height: 40px;
}
body #aboutme .inner .flip_text_skill .flip_face_eng {
  font-family: "Lato", sans-serif;
  letter-spacing: 1.5px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-size: 50px;
}
body #aboutme .inner .flip_text_skill .flip_face_kor {
  font-family: "Gothic A1", sans-serif;
  letter-spacing: 1.5px;
  font-weight: 500;
  transform: rotateX(180deg);
  letter-spacing: -2px;
  font-size: 28px;
}
body #project {
  background-color: #000;
  padding-bottom: 450px;
}
body #project .blur_grayscale {
  filter: blur(3px), grayscale(100%);
}
body #project .inner {
  width: 1300px;
  height: 5000px;
  margin: 0 auto;
  position: relative;
}
body #project .inner h2 {
  font-family: "Lato", sans-serif;
  letter-spacing: 1.5px;
  font-weight: 200;
  font-size: 150px;
  color: #fff;
  letter-spacing: 5px;
  width: 100%;
  position: inherit;
  left: -900px;
  word-break: keep-all;
}
body #project .inner .projects_underline {
  width: 0px;
  height: 2px;
  background-color: #f0f0f0;
  transition: all 1s ease-in-out;
  margin-bottom: 300px;
}
body #project .inner .shure,
body #project .inner .millie,
body #project .inner .applemusic {
  float: left;
  margin-bottom: 200px;
  position: relative;
  opacity: 0;
  transform: translateX(-750px);
  transition: all 1s ease-in-out;
}
body #project .inner .shure .num,
body #project .inner .millie .num,
body #project .inner .applemusic .num {
  font-family: "Lato", sans-serif;
  letter-spacing: 1.5px;
  font-size: 400px;
  position: absolute;
  color: #444;
  margin-top: -200px;
  left: -125px;
}
body #project .inner .shure h3,
body #project .inner .millie h3,
body #project .inner .applemusic h3 {
  font-family: "Lato", sans-serif;
  letter-spacing: 1.5px;
  font-size: 42px;
  text-align: right;
}
body #project .inner .shure h4,
body #project .inner .millie h4,
body #project .inner .applemusic h4 {
  font-family: "Lato", sans-serif;
  letter-spacing: 1.5px;
  font-size: 18px;
  margin-bottom: 20px;
  color: #aaa;
  text-align: right;
}
body #project .inner .shure h5,
body #project .inner .millie h5,
body #project .inner .applemusic h5 {
  font-family: "Lato", sans-serif;
  letter-spacing: 1.5px;
  font-size: 16px;
  margin-bottom: 10px;
  color: #f0f0f0;
  text-align: right;
}
body #project .inner .shure h6,
body #project .inner .millie h6,
body #project .inner .applemusic h6 {
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px;
  margin-bottom: 10px;
  border: 2px solid #f0f0f0;
  position: inherit;
  right: -682.5px;
}
body #project .inner .shure > img,
body #project .inner .millie > img,
body #project .inner .applemusic > img {
  width: 750px;
  height: 450px;
  margin-bottom: 20px;
  cursor: pointer;
  display: block;
  position: inherit;
  transition: all 0.25s;
}
body #project .inner .shure .shure_thumbnail,
body #project .inner .shure .millie_thumbnail,
body #project .inner .shure .applemusic_thumbnail,
body #project .inner .millie .shure_thumbnail,
body #project .inner .millie .millie_thumbnail,
body #project .inner .millie .applemusic_thumbnail,
body #project .inner .applemusic .shure_thumbnail,
body #project .inner .applemusic .millie_thumbnail,
body #project .inner .applemusic .applemusic_thumbnail {
  width: 750px;
  height: 450px;
  position: absolute;
  top: 20.7%;
}
body #project .inner .shure .shure_thumbnail .languege,
body #project .inner .shure .millie_thumbnail .languege,
body #project .inner .shure .applemusic_thumbnail .languege,
body #project .inner .millie .shure_thumbnail .languege,
body #project .inner .millie .millie_thumbnail .languege,
body #project .inner .millie .applemusic_thumbnail .languege,
body #project .inner .applemusic .shure_thumbnail .languege,
body #project .inner .applemusic .millie_thumbnail .languege,
body #project .inner .applemusic .applemusic_thumbnail .languege {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -35%);
  display: none;
}
body #project .inner .shure .shure_thumbnail .languege p,
body #project .inner .shure .millie_thumbnail .languege p,
body #project .inner .shure .applemusic_thumbnail .languege p,
body #project .inner .millie .shure_thumbnail .languege p,
body #project .inner .millie .millie_thumbnail .languege p,
body #project .inner .millie .applemusic_thumbnail .languege p,
body #project .inner .applemusic .shure_thumbnail .languege p,
body #project .inner .applemusic .millie_thumbnail .languege p,
body #project .inner .applemusic .applemusic_thumbnail .languege p {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  letter-spacing: 1.5px;
  text-align: center;
  font-size: 36px;
  margin-bottom: 40%;
  color: #f0f0f0;
}
body #project .inner .shure .shure_thumbnail .languege > div,
body #project .inner .shure .millie_thumbnail .languege > div,
body #project .inner .shure .applemusic_thumbnail .languege > div,
body #project .inner .millie .shure_thumbnail .languege > div,
body #project .inner .millie .millie_thumbnail .languege > div,
body #project .inner .millie .applemusic_thumbnail .languege > div,
body #project .inner .applemusic .shure_thumbnail .languege > div,
body #project .inner .applemusic .millie_thumbnail .languege > div,
body #project .inner .applemusic .applemusic_thumbnail .languege > div {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  letter-spacing: 1.5px;
  padding: 12px;
  margin: 10px;
  border: 1px solid #f0f0f0;
  color: #f0f0f0;
  display: inline;
  cursor: pointer;
}
body #project .inner .shure .code,
body #project .inner .millie .code,
body #project .inner .applemusic .code {
  position: absolute;
  right: -73.5%;
  border: 1px solid #fff;
  width: 550px;
  height: 448px;
  overflow-y: scroll;
  display: none;
  background-color: #1e1e1e;
}
body #project .inner .shure .code img,
body #project .inner .millie .code img,
body #project .inner .applemusic .code img {
  width: 500px;
  height: auto;
}
body #project .inner .shure .information,
body #project .inner .millie .information,
body #project .inner .applemusic .information {
  width: 750px;
}
body #project .inner .shure .information .explain,
body #project .inner .millie .information .explain,
body #project .inner .applemusic .information .explain {
  font-family: "Gothic A1", sans-serif;
  letter-spacing: 1.5px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 30px;
  word-break: keep-all;
}
body #project .inner .shure .information .link,
body #project .inner .millie .information .link,
body #project .inner .applemusic .information .link {
  text-align: center;
  margin-bottom: 30px;
}
body #project .inner .shure .information .link a,
body #project .inner .millie .information .link a,
body #project .inner .applemusic .information .link a {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  letter-spacing: 1.5px;
  padding: 12px;
  border: 1px solid #fff;
}
body #project .inner .shure .information .skill,
body #project .inner .millie .information .skill,
body #project .inner .applemusic .information .skill {
  font-family: "Lato", sans-serif;
  letter-spacing: 1.5px;
  text-align: center;
}
body #project .inner .shure .information .skill span,
body #project .inner .millie .information .skill span,
body #project .inner .applemusic .information .skill span {
  margin-right: 12px;
}
body #project .inner .shure > .code {
  top: 20.6%;
}
body #project .inner .millie > .code,
body #project .inner .applemusic > .code {
  top: 21.1%;
}
body #project .inner .talesweaver,
body #project .inner .baskinrobbins {
  float: right;
  margin-bottom: 200px;
  position: relative;
  opacity: 0;
  transform: translateX(750px);
  transition: all 1s ease-in-out;
}
body #project .inner .talesweaver .num,
body #project .inner .baskinrobbins .num {
  font-family: "Lato", sans-serif;
  letter-spacing: 1.5px;
  font-size: 400px;
  position: absolute;
  color: #444;
  margin-top: -200px;
  right: -125px;
}
body #project .inner .talesweaver h3,
body #project .inner .baskinrobbins h3 {
  font-family: "Lato", sans-serif;
  letter-spacing: 1.5px;
  font-size: 42px;
}
body #project .inner .talesweaver h4,
body #project .inner .baskinrobbins h4 {
  font-family: "Lato", sans-serif;
  letter-spacing: 1.5px;
  font-size: 18px;
  margin-bottom: 20px;
  color: #aaa;
}
body #project .inner .talesweaver h5,
body #project .inner .baskinrobbins h5 {
  font-family: "Lato", sans-serif;
  letter-spacing: 1.5px;
  font-size: 16px;
  margin-bottom: 10px;
  color: #f0f0f0;
}
body #project .inner .talesweaver h6,
body #project .inner .baskinrobbins h6 {
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px;
  margin-bottom: 10px;
  border: 2px solid #f0f0f0;
  position: inherit;
}
body #project .inner .talesweaver > img,
body #project .inner .baskinrobbins > img {
  width: 750px;
  height: 450px;
  margin-bottom: 20px;
  cursor: pointer;
  display: block;
  position: inherit;
  transition: all 0.5s;
}
body #project .inner .talesweaver .talesweaver_thumbnail,
body #project .inner .talesweaver .baskinrobbins_thumbnail,
body #project .inner .baskinrobbins .talesweaver_thumbnail,
body #project .inner .baskinrobbins .baskinrobbins_thumbnail {
  width: 750px;
  height: 450px;
  position: absolute;
  top: 20.7%;
}
body #project .inner .talesweaver .talesweaver_thumbnail .languege,
body #project .inner .talesweaver .baskinrobbins_thumbnail .languege,
body #project .inner .baskinrobbins .talesweaver_thumbnail .languege,
body #project .inner .baskinrobbins .baskinrobbins_thumbnail .languege {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -35%);
  display: none;
}
body #project .inner .talesweaver .talesweaver_thumbnail .languege p,
body #project .inner .talesweaver .baskinrobbins_thumbnail .languege p,
body #project .inner .baskinrobbins .talesweaver_thumbnail .languege p,
body #project .inner .baskinrobbins .baskinrobbins_thumbnail .languege p {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  letter-spacing: 1.5px;
  text-align: center;
  font-size: 36px;
  margin-bottom: 40%;
  color: #f0f0f0;
}
body #project .inner .talesweaver .talesweaver_thumbnail .languege > div,
body #project .inner .talesweaver .baskinrobbins_thumbnail .languege > div,
body #project .inner .baskinrobbins .talesweaver_thumbnail .languege > div,
body #project .inner .baskinrobbins .baskinrobbins_thumbnail .languege > div {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  letter-spacing: 1.5px;
  padding: 12px;
  margin: 10px;
  border: 1px solid #f0f0f0;
  color: #f0f0f0;
  display: inline;
  cursor: pointer;
}
body #project .inner .talesweaver .code,
body #project .inner .baskinrobbins .code {
  position: absolute;
  left: -73.5%;
  border: 1px solid #fff;
  width: 550px;
  height: 448px;
  overflow-y: scroll;
  display: none;
  background-color: #1e1e1e;
}
body #project .inner .talesweaver .code img,
body #project .inner .baskinrobbins .code img {
  width: 500px;
  height: auto;
}
body #project .inner .talesweaver .information,
body #project .inner .baskinrobbins .information {
  width: 750px;
}
body #project .inner .talesweaver .information .explain,
body #project .inner .baskinrobbins .information .explain {
  font-family: "Gothic A1", sans-serif;
  letter-spacing: 1.5px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 30px;
  word-break: keep-all;
}
body #project .inner .talesweaver .information .link,
body #project .inner .baskinrobbins .information .link {
  text-align: center;
  margin-bottom: 30px;
}
body #project .inner .talesweaver .information .link a,
body #project .inner .baskinrobbins .information .link a {
  font-family: "Lato", sans-serif;
  letter-spacing: 1.5px;
  padding: 12px;
  border: 1px solid #fff;
}
body #project .inner .talesweaver .information .skill,
body #project .inner .baskinrobbins .information .skill {
  font-family: "Lato", sans-serif;
  letter-spacing: 1.5px;
  text-align: center;
}
body #project .inner .talesweaver .information .skill span,
body #project .inner .baskinrobbins .information .skill span {
  margin-right: 12px;
}
body #project .inner .talesweaver > .code,
body #project .inner .baskinrobbins > .code {
  top: 20.7%;
}
body #contact .inner {
  width: 1300px;
  height: 1200px;
  margin: 0 auto;
  position: relative;
}
body #contact .inner h2 {
  font-family: "Lato", sans-serif;
  letter-spacing: 1.5px;
  font-weight: 200;
  font-size: 150px;
  color: #444;
  letter-spacing: 5px;
  width: 100%;
  position: inherit;
  left: -950px;
  word-break: keep-all;
}
body #contact .inner .contact_underline {
  width: 0px;
  height: 2px;
  background-color: #aaa;
  transition: all 1s ease-in-out;
  margin-bottom: 300px;
}